In [1]:
# variable
a = 10
b = 3.44
c = "ankit"
d = True
e = '#'
f = (3+4j)
print("type c",type(c))
print("type d",type(d))
print("type e",type(e))
print("type f",type(f))
c.find('t')
c.split('k')
print(e)

type c <class 'str'>
type d <class 'bool'>
type e <class 'str'>
type f <class 'complex'>
#

In [3]:
#operators
# Arithmatic operators
a = 1
b = 2
c = 3
d = 4
t = a + b - c * d / a
t
# Relational pperators
a = 1
b = 2
c = 3
d = 4
t = a < b > c == d != a
t
# and or not
a = True
b = False
t = a & b | c != d
t

True

In [4]:
# string
str1 = "ankit"
str2 = 'ANKIT'
str3 = """ankit
kumar"""
print(str1, str2.lower(), str3.upper())
len(str1)
str = "this is software x"
str[0], str[-1], str[0:16]
str.replace("this is", "")
str.count(str)

ankit ankit ANKIT
KUMAR

1

In [5]:
# tuple
tuple = (1,True, 3.3, 5-6j)
tuple2 = (5,3,2,5,1)
tuple, type(tuple), tuple[0:2], tuple[-1]
len(tuple)
# tuple[0] = "ok" -> immutable
tuple + tuple2
tuple, tuple2
tuple * 4 # repeat elements of tuple
tuple *2 + tuple2
min(tuple2), max(tuple2)

(1, 5)

In [6]:
# list
l1 = [3,'ankit', 3.34, True]
l2 = [1,4,6,2,5,8]
type(l1)
l1[0]
l1[2:5]
l1[0] = 1 # list are mutable
l1.pop() # last element ko remove karta h
l1.append("kumar")
# l1.reverse()
l2.sort()
l2.insert(1, "ok")
l1 + l2
l2 * 2

[1, 'ok', 2, 4, 5, 6, 8, 1, 'ok', 2, 4, 5, 6, 8]

In [7]:
# Dictionay 
d1 = {"name": "ankit", "roll no.": 20, "id no.": 124}
d2 = {"employee": "rahul", "emp_id": 3544}
type(d1) # mutable hoti h
d1.keys()
d1.values()
d1["class"] = "BCA" # adding dict
d1["id no."] = 4 
d1.update(d2)
d1.pop("id no.")
d1

{'name': 'ankit',
 'roll no.': 20,
 'class': 'BCA',
 'employee': 'rahul',
 'emp_id': 3544}

In [8]:
# set
s1 = {1,2,3,4,1}
s2 = {"a", "b", "c", "d", 2}
# s1.add("Hello")
# s1.remove("b")
s1.update([10,20,30])
s1.union(s2)
s1.intersection(s2)

{2}

In [9]:
# conditional
a = 1
b = 2
if a>b:
    print("y")
else:
    print("n")
t = ('a', 'b', 'c')
if 'a' in t:
    print("y")
l = ['a', 'b', 'c']

if l[1] == 'b': # changing value
    l[1] = 'z'
l

d = {'a':1, 'b':2, 'c':3}
if d['a'] == 1:
    d['a'] = d['a'] + 100
d

n
y

{'a': 101, 'b': 2, 'c': 3}

In [ ]:
#loop
i = 1
while i<=10:
    print(i)
    i = i+1

i = 1
n = 2
while i<=10:
    print(f"{n} X {i} = {n*i}")
    i = i + 1

l = [1,2,3,4,5]
i = 0
while i<len(l):
    l[i] = l[i] + 100
    i + i + 1
l
l1 = ['orange', 'black', 'white']
l2 = ['chair', 'book', 'laptop']
for i in l1:
    for j in l2:
        print(i,j)